html,
body {
  height: 100%;
  min-height: 100%;
  font-family: sans-serif;
  background: #e2e0e0;
}

.startHere {
  position: absolute;
  /*  z-index: 200; */
  cursor: pointer;
  margin-top: 180px;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: bold;
}

.small-box {
  display: flex;
  position: absolute;
  margin-bottom: 129px;
  margin-top: 11%;
  margin-left: 3%;
  /*  width: 80px;
    height: 80px; */
  width: 125px;
  height: 125px;
}


.w3-animate-zoom {
  animation: animatezoom 0.6s
}

@keyframes animatezoom {
  from {
    transform: scale(0)
  }

  to {
    transform: scale(1)
  }
}

.text-div {
  margin-left: 542px;
  font-size: 32px;
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 270px;
  height: 232px;
  /*  margin-top: 58px; */
  margin-right: 985px;
  margin-bottom: 442px;
}

.cell {
  position: absolute;
  top: 0;
  left: 0;
  /*  height: 284PX; */
  /*   width: 290PX !important; */
  height: 374PX;
  font-size: 20px;
  font-family: sans-serif;
  font-weight: medium;
  display: flex;
  /*  margin: 13px; */
  align-items: center;
  justify-content: center;
  background: #F5F5F5;
  transform-origin: center bottom;
  /*  margin-top: 265px; */
  border-radius: 16px;
  cursor: move;
  box-shadow: 10px 21px 5px 1px rgba(0, 0, 0, 0.08);
}

.cell-content {
  display: flex;
  position: absolute;
}

.container {
  /*   display: flex; */
  position: relative;
  overflow: hidden;
  width: 100% !important;
  height: 100%;
  margin-top: 60px;
  /*  margin-right: 463px;
  margin-left: 364px; */
  margin-right: 74px;
}

.what-are-you {
  font-family: sans-serif;
  font-weight: lighter;
  margin-top: 85px;
  margin-left: 14px;
}

.here-to-do {
  font-family: sans-serif;
  font-weight: bold;
  margin-top: -39px;
  margin-left: 14px;
}

.slider {
  position: absolute;
  display: flex;
}

.slider-container {
  display: flex;
  margin-left: 59px;
  position: relative;
  flex-flow: column;
  width: 100%;
  height: 100%;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  margin-top: 113px;

}

.prev-slide {
  left: 333px;
  margin-top: 320px;
  background-color: #D6EAEC;
}

.prev-slide:hover {
  cursor: pointer;
}

.next-slide {
  height: 40px;
  right: 385px;
  margin-top: 320px;
  background-color: #D6EAEC;
}

.control {
  position: absolute;
  width: 40px;
}

.next-slide:hover {
  cursor: pointer;
}

@media only screen and(min-width: 1023px) {}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .container {
    width: 1000px !important;
    margin-right: 316px;
  }

  .startHere {
    margin-top: 180px;
    font-size: 12px;
    margin-right: 64px;
  }

  .cell {
    position: absolute;
    top: 0;
    left: 0;
    /*  height: 284PX; */
    /*    width: 197px !important; */
    /*   height: 298PX; */
  }

  .text-div {
    /*  margin-left: 0px; */
    font-size: 15px;
  }

  .what-are-you {
    font-size: 15px;
  }

  .here-to-do {
    margin-top: -8px;
    font-size: 14px;
  }

  .slider-container {
    position: relative;
    margin-left: 7%;
  }

  .prev-slide {
    left: 170px;
    margin-top: 547px;
  }

  .next-slide {
    height: 38px;
    right: 178px;
    margin-top: 554px;
  }
}

@media only screen and (max-width: 767px) {

  .container {
    width: 75% !important;
    margin-top: 0px;
  }

  .slider-container {
    height: 72%;
    margin-left: 7%;

  }

  .startHere {
    margin-top: 180px;
    font-size: 8px;
    margin-right: 64px;
  }

  .text-div {
    margin-left: 5%;
    margin-top: -1%;
    font-size: 10px;
  }

  /*  .slider-container{
        margin-left: 20px;
    } */
  .next-slide {

    margin-top: 348px;
    right: 68px;
  }

  .prev-slide {
    left: 26px;
    margin-top: 348px;

  }

  .text-div {
    font-size: 12px;
    width: 140px;
    height: 170px;
    margin-right: 200px;
  }

  .slider-container {
    margin-left: 7%;
  }

  .here-to-do {
    margin-top: -9px;
  }
}
