<div class="slider-container">
  <div class="text-div">
    <p class="what-are-you">What are you</p>
    <p class="here-to-do">here to do?</p>
  </div>
  <div #container class="container">
    <ng-container *ngFor="let action of actions; let i = index">
      <div #cell class="cell">
        <img class="small-box" src="./assets/smallSquare.PNG" />
              <app-text-split title={{action}}></app-text-split>
      </div>
    </ng-container>
  </div>
  <div class="startHere w3-animate-zoom" id="startHere">START HERE > </div>
  <img class="prev-slide control" src="./assets/previous3.PNG" (click)="animateSlides(-1,$event)" />
  <img class="next-slide control" src="./assets/next2.PNG" (click)="animateSlides(1,$event)" />
</div>
